<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Listado de monitores</title>
    </head>
    <body>                
        <!-- Título -->
        <a href="{% url 'home_administracion' %}" style="display: inline-block; margin-bottom: 12px; padding: 8px 12px; background-color: #4b5563; color: #ffffff; text-decoration: none; border-radius: 6px;">
            ← Volver
        </a>
        <h1>Listado de monitores registrados en el sistema</h1>

        <!-- Card contenedora -->
        {% if monitores %}
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Especialización</th>
                        <th>Actividades Asignadas</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>

                <tbody>
                    {% for monitor in monitores %}
                        <tr>
                            <td>{{ monitor.id }}</td>
                            <td>
                                <a href="{% url 'filtrar_monitor' monitor.id %}">
                                    {{ monitor.nombre }}
                                </a>
                            </td>
                            <td>{{ monitor.especializacion }}</td>
                            <td>{{ monitor.numero_actividades_asignadas }}</td>
                            <td>
                                <a href="{% url 'editar_monitor' monitor.id %}" style="text-decoration: none;">✏️</a>
                            </td>
                            <td>
                                <form method="POST" action="{% url 'confirmar_eliminar_monitor' monitor.id %}">
                                    {% csrf_token %}
                                    <button type="submit" name="eliminar" value="si">🗑️</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="nuevo/" style="display: inline-block; margin-bottom: 16px; padding: 10px 14px; background-color: #2563eb; color: #ffffff; text-decoration: none; border-radius: 6px;">
                Nuevo monitor
            </a>

        {% else %}
            <h3>No hay monitores registrados en el sistema.</h3>
            <a href="nuevo/" style="display: inline-block; margin-bottom: 16px; padding: 10px 14px; background-color: #2563eb; color: #ffffff; text-decoration: none; border-radius: 6px;">
                Nueva sala
            </a>
        {% endif %}
    </body>
</html>
